* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  color: #444444;
}

header {
  text-align: center;
  background-color: rgb(48, 46, 46);
  top: 0;
  border-bottom: 15px solid skyblue;
}
h1 {
  font-size: 24px;
  font-weight: 700;
  background-color: whitesmoke;
  padding: 25px;
}
span {
  font-weight: 100;
}
.home__container span{
  margin-left: 25px;
}

p {
  text-indent: 40px;
  margin: 25px 50px;
}
/*Navigation*/
.nav_list {
  max-width: 700px;
  overflow: auto;
  margin: auto;
}
.nav_list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 15px;
}
a{
  text-decoration: none;
}
nav a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: silver;
}
.home__container:hover{
  background-color:silver;
}
.hero {
  width: 100%;
}
a:hover{
  color: skyblue;
  transition-duration: .5s;
}
.active{
  color: #37c0fb;
  text-decoration: underline;
}
.home__container{
  padding: 20px;
  border: #1f1f1f 1px solid;
}
.home__container a{
  width: 100%;
  display: block;
}
.odd{
  background-color: beige;
}
.even{
  background-color: #f0f3ff;
}
/**/
main {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

/*Safety */
.safety-list,
.symptoms-list {
  margin: 25px 0px 25px 15px;
  list-style-type: square;
  border: #1f1f1f solid 2px;
  padding: 25px;
  background-color: #f0f3ff;
}
.safety-list li,
.symptoms-list li {
  margin-left: 25px;
}

/**/
.hidden {
  display: none;
}
body {
  background-image: linear-gradient(to bottom right, bisque, skyblue);
}
.poster {
  max-width: 300px;
}

/*Contact*/
form {
  background-color:aliceblue;
  padding: 25px;
  max-width: 500px;
  margin: auto;
  border-radius: 5px;
  border: #1f1f1f 2px solid;
}
form input,select,textarea,#submit{
  padding: 8px;
  width: 100%;
  margin: auto;
}
label {
  font-weight: bold;
}
#submit {
  font-weight: bold;
}
.form__item{
  margin: auto;
  max-width: 400px;
}
/*Contact Form*/

@media only screen and (max-width: 700px) {
  .grid {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
  }
  p {
    margin: 0;
  }


}

/* Stat container */
article{
    margin-top: 50px;
}
.stat__container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  max-width: 600px;
  margin: auto;
  margin-bottom: 50px;
  padding: 25px;
  border-radius: 10px;
  background: #f0f3ff;
  border: #1f1f1f 2px solid;
}
.num {
  float: right;
  color: navy;
  font-weight: 600;
}
#local__caption {
  text-align: end;
  margin-right: 100px;
}
h2{
    padding: 10px;
    border-radius: 25px;
    font-size: 30px;
}

h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
}
#localPop, #statePop, #natPop{
    font-size: 18px;
    color: navy;
}
/*News container */
#news__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#news__dropdown {
  width: 250px;
  font-size: 20px;
  padding: 10px;
  padding-left: 80px;
  border-radius: 5px;
  margin: 20px;
  background-color:#f0f3ff;
  border: #1f1f1f solid 2px;
}

.news__article {
  max-width: 250px;
  height: 400px;
  margin: 25px;
  background-color:#f0f3ff;
  border-radius: 10px;
  border: #1f1f1f solid 2px;
  display: flex;
  flex-direction: column;
}

.article__title {
  border-bottom: black solid 1px;
  background-color:royalblue;
  color: whitesmoke;
  margin: 0;
  padding: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.article__body {
  margin: 0;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0);
  flex-grow: 1;
  overflow: hidden;
}
.article__btn {
  text-align: center;
  width: 100%;
  align-self: flex-end;
}
.article__btn a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color:royalblue;
  text-decoration: none;
  padding: 12px;
  display: block;
  color: whitesmoke;
  font-weight: 700;
}

.article__btn a:hover {
  background-color:black;
  color: white;
}

/*Carousel container */
.carouselContainer {
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  position: relative;
  background-color: #f0f3ff;
  border-radius: 1.5rem;
  overflow: hidden;
}

.carouselImgs {
  width: 100%;
  animation: fade 1.5s;
  display: none;
  padding: 0px;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.carouselImgs img {
  max-width: 100%;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  cursor: pointer;
  font-size: 50px;
  color: #37c0fb;
  padding: 5px;
}

.prev:hover,
.next:hover {
  color: #50c8fc;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
